 <h1>Todo List</h1>
        <link rel="stylesheet" href="index.css">
        <ul> 
            <li class="Clean my room">
                <input type="checkbox"/>
                <a href="show/1">Clean my room</a> 2 Pomodoros 
    
            </li>
            <li class="Eat">
                <input type="checkbox"/>
                <a href="show/2">Eat</a> 2 pomodoros
            </li>
            <li class="Homework">
                <input type="checkbox"/>
                <a href="show/3">Start on homework</a> 3 pomodoros
            </li>
            <li class="Shower">
                <input type="checkbox"/>
                <a href="show/4">Shower</a> 1 pomodoro
            </li>
        </ul> 
        <a class="add-todo" href="new.html">Add a todo </a>