     <h3> todo<%=params[:id] %> </h3>
        <input type="checkbox"/>
        <h2> <%=@todo.description%> <%=@todo.pomodoro_estimate%> pomodoros </h2>
        <a href="/edit/<%= @todo.id %>">Edit</a>
        <a href="#">Delete</a>
        <a href="#">Go back...</a>
